#TOPdiv
{
	background-color: rgb(99,135,184);
	color:white;
	padding:10px;
	border-radius: 10px;
}
#a
{
	color:red;
}
#b
{
	color:orange;
}
#c
{
	color:yellow;
}
#d
{
	color:green;
}
#e
{
	color:blue;
}
#f
{
	color:purple;
}
#g
{
	color:indigo;
}
#TOPbotdiv
{
	background-color: rgb(36,54,79);
	color:yellow;
	padding:10px;
	border-radius: 10px;
	font-size: 16px;
}
#tblTOPbotdiv
{
	width:100%;
	text-align: left;
}
#logUser
{
	text-align: right;
}
#maindiv
{
	overflow-x: auto;;
}
#slideLeftdiv
{
	background-color: rgb(36,54,79);
	color:yellow;
	padding:10px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 16px;
	width:21%;
	float: left;
}

#tblslideLeftdiv td
{
	padding: 4px;
}
button
{
	padding: 15px;
	width:280px;
	min-width: 260px;
	background-color: inherit;
	color:white;
	border:0;
	outline: 0;
	font-weight: bolder;
	font-size: 20px;
	border-radius: 10px;
}
button:hover
{
	background-color: green;
	color:white;
	box-shadow: currentColor;
}
#logOUT
{
	padding: 15px;
	width:280px;
	min-width: 260px;
	background-color: inherit;
	color:white;
	border:0;
	outline: 0;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
}
#logOUT:hover
{
	background-color: red;
	color:white;
	box-shadow: currentColor;
}
#slideMiddlediv
{
	margin-right: 80px;
	margin-left: 10px;
	background-color: white;
	color:yellow;
	padding:10px;
	margin-top: 60px;
	border-radius: 10px;
	font-size: 16px;
	width:50%;
	float: left;
	height: 500px;
	min-width: 50%
}
#tblslideMiddlediv
{
	width: 100%;
	text-align: center;
	padding-bottom:5px;
	padding-top: 5px; 
	margin-top: 10px;
}
#txt
{
	color:green;
	font-weight: bold;
}
#slideRightdiv
{
	background-color: rgb(36,54,79);
	color:white;
	padding:10px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 16px;
	width:22%;
	float: left;
	height:350px;
}
#slideRightdiv h3
{
	color:red;
	text-align: center;
}

#footerdiv
{
	background-color:rgb(36,54,79);
	color:gray;
	padding:10px;
	border-radius: 10px;
}
#news
{
	font-size: 16px;
	font-weight: bold;
}
.mySlides 
{
	display: none;
}
#slide 
{
	vertical-align: middle;
	height:200px;
	width:100%;
}
.slideshow-container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.caption
{
	font-size: 16px;
	color:gold;
	text-align: center;
}
.numbertext
{
	color:gray;
}
#tblTOPbotdiv #tdHiregi
{
	text-align: right;
}
*
{
	box-sizing: border-box;
}
body
{
	min-width:1000px;        
	width: auto !important;  
	width:1000px;             
}
a
{
	text-decoration: none;
}
.noti .badge
{
	background-color: red;
	color:white;
	border-radius: 50%;
	padding: 5px 10px;
	position: relative;
	left: -33px;
	top: -72px;
}